body {
    height: 90vh;
    background-color: salmon;
    background-image: url(/images/sun.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}