/* 
* Deploy preview 
* https://proyectofe1.vercel.app/

* Git Repo
* https://github.com/kashipu/Frontend1DH/tree/main/parcialFinal
*/

@import '/css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

:root {
    /* ! Colores primarios */
    --rojo-500: rgb(242, 95, 58);
    --azul-500: rgb(35, 44, 81);
    /* ! Colores Neutros */
    --azul-100: rgb(143, 148, 167);
    --azul-700: rgb(29, 30, 37);
    --rojo-100: rgb(255, 239, 234);
    --rojo-300: rgb(255, 164, 141);
    --gris: rgb(249, 249, 249);
    --gris-500: rgba(179, 178, 183, 1);
    --blanco: rgb(255, 255, 255);
    /* ! Breakpoints */
    --mobile: 375px;
    --tablet: 769px;
    --desktop: 1440px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
}

.bfix {
    border: 1px solid red;
}

.wrapper {
    max-width: 60%;
    margin: 0 auto;
}

.wrapper__testimonials {
    max-width: 80%;
    margin: 0 auto;
}

/* nav styles */
header {
    padding: 4rem 0rem;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burguer__nav {
    display: none;
    cursor: pointer;
}

.list {
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
}

.list li a {
    text-decoration: none;
    color: var(--azul-500);
}

.list li a:hover {
    text-decoration: none;
    color: var(--rojo-500);
}

.btn__box, .btn__submit {
    background-color: var(--rojo-500);
    padding: .8rem 1.5rem;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    text-decoration: none;
    color: var(--blanco);
}

.btn__box:hover {
    background-color: var(--azul-500);
}


.btn__blanco {
    background-color: var(--blanco);
    color: var(--rojo-500);
}

.btn__blanco:hover {
    background-color: var(--blanco);
    color: var(--rojo-500);
}

/* nav styles */

/* banner styles */

.banner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10rem;
}

.banner__box {
    display: flex;
}

.banner__text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 439px;
}

.banner__text h1 {
    font-size: 58px;
    letter-spacing: -2px;
    color: var(--azul-500);
    margin: 0rem;
    padding-bottom: 1.5rem;
}

.banner__text p {
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: 500;
    padding-bottom: 1.5rem;
}

.banner__button {
    display: flex;
}

.banner__img img {
    width: 100%;
}

/* banner styles */

/* features styles */

.features {
    padding-bottom: 10rem;
}

.features__box {
    display: flex;
}

.features__title h2 {
    font-size: 2.25rem;
    color: var(--azul-500);
    margin-bottom: 1rem;
}

.features__title p {
    font-size: 1rem;
    font-weight: 500;
    padding-right: 7rem;
    line-height: 1.4;
}

.features__items {
    padding-left: 8rem;
}

.features__list li::before {
    content: "0"counter(list-item);
    background-color: var(--rojo-500);
    font-weight: 700;
    color: var(--blanco);
    border-radius: 30px;
    padding: .8rem 1.5rem;
    position: absolute;
    margin-left: -5rem;
}

.features__list li {
    list-style: none;
    padding: 1.2rem;
    margin-left: 3rem;
}

.features__list li h3 {
    color: var(--azul-500);
    font-weight: 700;
    padding: .8rem 0rem;
}

.features__list li p {
    color: var(--gris-500);
    font-weight: 500;
    padding: .8rem 0rem;
    line-height: 1.8;
}
/* features styles */


/* testimonials */
.testimonials {
    padding-bottom: 10rem;
}
.testimonials__title {
    text-align: center;
    padding-bottom: 1.5rem;
}

.testimonials__title h2 {
    font-size: 2.5rem;
    color: var(--azul-500);
}

.testimonial__people {
    display: flex;
    /* flex-wrap: wrap; */
}

.testimonial__button {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.people__item {
    text-align: center;
    position: relative;
}

.people__photo {
    position: relative;
    top: 30px;

}

.people__photo img {
    width: 70px;
    height: 70px;
}

.people__body {
    background-color: var(--gris);
    padding: 4rem 2rem;
}

.people__body h3 {
    padding-bottom: 1rem;
    color: var(--azul-500);
}

.people__body p {
    line-height: 1.8;
    color: var(--gris-500);
}
/* testimonials */

/* Color banner */
.color__banner {
    padding: 6rem 0rem;
    background-color: var(--rojo-500);
}

.color__banner__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color__banner__text h2 {
    color: var(--blanco);
    font-size: 2.5rem;
    line-height: 1.5;
}

/* Color banner */

/* Footer */
footer {
    background-color: var(--azul-700);
    padding: 4rem 0rem;
}

.footer__box {
    display: flex;
    justify-content: space-between;
}


.colum1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.redes__list {
    display: flex;
    list-style: none;
    gap: 10px;
}

.redes__list img:hover {
    filter: invert(52%) sepia(36%) saturate(6377%) hue-rotate(340deg) brightness(102%) contrast(90%);
}

.items__footer {
    list-style: none;
}

.foo__item {
    color: var(--blanco);
    padding-bottom: 1.5rem;
}

button {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.suscribe__inbox input[type="text"] {
    padding: .8rem;
    border-radius: 30px;
    margin-right: .5rem;
    border: none;
}

.footer__copyrigth {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0rem;
    color: var(--gris-500);
}

/* media query */

/* desktop */
@media (max-width: 1440px) {
    .wrapper {
        max-width: 90%;
        margin: 0 auto;
    }
}

/* Tablet */
@media (max-width: 879px) {
    .wrapper {
        max-width: 90%;
        margin: 0 auto;
    }
    header {
        padding: 3rem 0rem;
    }
    .nav__container {
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        flex-direction: column;
        align-items: flex-start;
    }
    /* nav styles */
    .nav__logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .nav__list {
        padding: 3rem 0rem;
        display: none;
    }
    
    .list {
        flex-direction: column;
    }
    .burguer__nav {
        display: inline;
    }
    .nav__button {
        display: none;
    }
    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5rem;
        text-align: center;
    }
    .banner__box {
        order: 2;
    }
    .banner__img {
        order: 1;
    }
    .banner__text {
        max-width: 100%;
    }
    .banner__button {
        justify-content: center;
    }
    .features__box {
        flex-direction: column;
    }
    .features__title {
        text-align: center;
        padding-bottom: 3rem;
    }
    .features__title p {
        padding-right: 0rem;
    }
    .features__items {
        padding-left: 1rem;
    }
    /* Responsive testimonials */
    .testimonial__people {
        flex-wrap: wrap;
        gap: 2rem;
    }
    .color__banner__box {
        flex-direction: column;
        gap: 70px;
        text-align: center;
    }
    
    .footer__box {
        flex-direction: column;
        gap: 30px;
    }
    
    
    .colum1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }   
    .footer__copyrigth {
        padding: 2rem 0rem;
        justify-content: flex-start;
    }
    .show {
        display: block;
    }
}